
@font-face {
    font-family: 'BYekan';
    src: url('/fonts/BYekan/BYekan.eot');
    src: url('/fonts/BYekan/BYekan.eot?#iefix') format('embedded-opentype'),
         url('/fonts/BYekan/BYekan.woff') format('woff'),
         url('/fonts/BYekan/BYekan.ttf') format('truetype');
         font-weight: normal;
         font-style: normal;
}

.form-control{
    height:auto;
}

th {
    text-align: right;
}

textarea {
    resize: vertical;
}


body{
    font-family: 'BYekan',"Raleway", sans-serif !important; 
}

